qsharp/bin/Debug/netcoreapp2.0/qsharp.dll
qsharp/bin/Debug/netcoreapp2.0/qsharp.pdb
qsharp/bin/Debug/netcoreapp2.0/qsharp.deps.json
qsharp/bin/Debug/netcoreapp2.0/qsharp.runtimeconfig.dev.json
qsharp/obj/project.assets.json
qsharp/obj/qsharp.csproj.nuget.cache
qsharp/obj/qsharp.csproj.nuget.g.props
qsharp/obj/Debug/netcoreapp2.0/qsharp.dll
qsharp/obj/Debug/netcoreapp2.0/qsharp.pdb
qsharp/obj/Debug/netcoreapp2.0/qsharp.AssemblyInfo.cs
qsharp/obj/qsharp/qsc-command.txt
qsharp/obj/Debug/netcoreapp2.0/qsharp.csprojAssemblyReference.cache
qsharp/obj/Debug/netcoreapp2.0/qsharp.csproj.FileListAbsolute.txt
qsharp/obj/Debug/netcoreapp2.0/qsharp.csproj.CoreCompileInputs.cache
qsharp/obj/qsharp/src/ShorsPeriod.g.cs
